{{#extend "layout"}}
    {{#replace "main"}}

        <section id="landing">
            <div class="inner">
                <h1>About This Site</h1>
                <p>samrc.me is an online gallery of Sam and Roman's artwork, a place to try some front end development techniques, a project to teach a couple of young people about coding.</p>

            </div>
        </section>

    {{/replace}}
{{/extend}}
