{{#extend "layout"}}
  {{#replace "main"}}

    <section id="landing">
      <div class="inner">
        <h1>A journey through the works of a young artist</h1>
        <h2>First Piece - A self portrait</h2>
        <img src="../../assets/img/IMG_8822.JPG" alt="sam-art-0001" style="width:304px;height:228px;">
        <h2>Second Piece - Shapes we know</h2>
        <img src="../../assets/img/IMG_8823.JPG" alt="sam-art-0001" style="width:304px;height:228px;">
      </div>
    </section>

  {{/replace}}
{{/extend}}