{{#extend "layout"}}
    {{#replace "main"}}

        <section id="landing">
            <div class="inner">
                <h2>A journey through the works of a young artist</h2>
                <p>First Piece - A self portrait</p>
                <img src="../../assets/img/sam/self-portrait.JPG" alt="sam self portrait">
                <p>Second Piece - Shapes we know</p>
                <img src="../../assets/img/sam/sam-shapes.JPG" alt="sam shapes">
                <p>Third Piece - Minion Train</p>
                <img src="../../assets/img/sam/minion-train.JPG" alt="minion train">
            </div>
        </section>

    {{/replace}}
{{/extend}}
