{{#extend "layout"}}
    {{#replace "main"}}

        <section id="landing">
            <div class="inner">
                <h2>A journey through the works of a young artist</h2>
                <p>First Piece - A self portrait</p>
                <img src="../../assets/img/sam/IMG_8822.JPG" alt="sam-art-0001">
                <p>Second Piece - Shapes we know</p>
                <img src="../../assets/img/sam/IMG_8823.JPG" alt="sam-art-0001">
                <p>Third Piece - Minion Train</p>
                <img src="../../assets/img/sam/minion-train.JPG" alt="sam-art-0001">
            </div>
        </section>

    {{/replace}}
{{/extend}}
