{{#extend "layout"}}
    {{#replace "main"}}

        <section id="landing">
            <div class="inner">
                <h1>Roman's Work</h1>
                <h2>The Great Interest in Art</h2>
                <p>First Piece - Art Creature</p>
                <img src="../assets/img/roman/art-creature.jpg" alt="sam self portrait">
            </div>
        </section>

    {{/replace}}
{{/extend}}
