{{#extend "layout"}}
    {{#replace "main"}}

        <section id="landing">
            <div class="inner">
                <h1>Roman's Work</h1>
                <h2>The Great Interest in Art</h2>
                <p>First Piece - Art Creature</p>
                <img src="../assets/img/roman/art-creature.jpg" alt="Art Creature">
                <p>Second Piece - Art Is Always in You</p>
                <img src="../assets/img/roman/art-is-always-in-you-rs01.jpg" alt="Art is Always in You">
                <p>Third Piece - Use the Love that You've Got</p>
                <img src="../assets/img/roman/must-love.jpg" alt="Use the Love that You've Got">
            </div>
        </section>

    {{/replace}}
{{/extend}}
