<header>
    <nav>
        <ul>
            <li><a href="/" title="Home">Home</a></li>
            <li><a href="/about" title="About">About</a></li>
            <li><a href="/sam-art" title="Artwork">Sam's Artwork</a></li>
            <li><a href="/roman-art" title="Roman">Roman's Artwork</a></li>
        </ul>
    </nav>
</header>
