<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/artwork">Artwork</a></li>
            <li><a href="/roman">Roman</a></li>
        </ul>
    </nav>
    <h1>Sam's Cool Artwork</h1>
</header>
