body {
  font-family: $font-stack;
  color: $paragraph-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  text-align: center;
}
p {
  margin: 18px 0;
}
img {
  height: auto;
  width: 500px;
  display: inline-block;
  max-width: 100%;
}
header,
section,
footer {
  .inner {
    min-width: 320px;
    max-width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
  }
}
header {
  nav {
    margin: 20px;
    ul {
      padding-left: 0;
      li {
        display: block;
        a {
          line-height: 20px;
        }
      }
    }
  }
}
footer {}
#landing {
  // Here goes styling which will only apply to the landing page, to div#landing
}
