.center-container {
  position: relative;
}
.absolute-center {
  height: 50%;
  width: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}
body {
  font-family: $font-stack;
  color: $paragraph-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  text-align: center;
  background-color: #e3e290;
}
p {
  margin: 10px 0;
}
img {
  height: auto;
  width: 500px;
  display: inline-block;
  max-width: 100%;
  padding-bottom: 30px;
  padding-top: -5px;
}
header,
section,
footer {
  .inner {
    min-width: 320px;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
  }
}
header {
  nav {
    margin: 20px;
    ul {
      padding-left: 0;
      li {
        display: block;
        a {
          line-height: 20px;
        }
      }
    }
  }
}
footer {}
#landing {
  // Here goes styling which will only apply to the landing page, to div#landing
}
footer {
  background-color: #730099;
  height: 4em;
  margin-top: 12px;
  color: white;
  position: relative;
}
footer p {
  color: white;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
