body {
    font-family: $font-stack;
    color: $paragraph-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    background-color: #e3e290;
}
p {
    margin: 10px 0;
}
img {
    height: auto;
    width: 60%;
    display: inline-block;
    max-width: 100%;
    padding-bottom: 30px;
    padding-top: -5px;
}
footer,
header,
section {
    .inner {
        padding: 60px;
        min-width: 320px; // max-width: 1080px;        margin: 0 auto;
        text-align: center;
    }
}
header {
    nav {
        // margin: 20px;
        ul {
            padding-left: 0;
            float: right;
            li {
                display: inline;
                float: left;
                a {
                    line-height: 20px;
                    background-color: transparent;
                    border-radius: 5px;
                    border: 0;
                    margin: 0;
                    padding: 0 17px;
                }
                &:hover {
                    background-color: #eee;
                }
            }
        }
    }
}
#landing {
    // Here goes styling which will only apply to the landing page, to div#landing
}
h1 {
    font-size: 1.6em;
    text-align: center;
}
footer {
    background-color: #730099;
    height: 4em;
    margin-top: 12px;
    color: white;
    position: relative;
}
footer p {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
a {
    color: $main-color;
    text-decoration: none;
}
