// MIXINS
@mixin clearfix {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
@mixin middle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
@mixin absolute-center {
  margin: auto;
  // position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
