// VARIABLES
$font-stack: "Poppins", "Helvetica", sans-serif;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$black: 800;
$main-color: #730099;
$secondary-color: #ac00e6;
$paragraph-color: #730099;
$backdrop-color: #00cc66;
