{{#extend "layout"}}
    {{#replace "main"}}

        <section id="landing">
            <div class="inner">
                <h1>Sam's Cool Artwork</h1>
                <h2>A Journey Through the Works of a Young Artist</h2>
                <p>First Piece - A self portrait</p>
                <img src="../assets/img/sam/self-portrait.jpg" alt="sam self portrait">
                <p>Second Piece - Shapes we know</p>
                <img src="../assets/img/sam/sam-shapes.jpg" alt="sam shapes">
                <p>Third Piece - Minion Train</p>
                <img src="../assets/img/sam/minion-train.jpg" alt="minion train">
                <p>Fourth Piece - Tropical Island</p>
                <img src="../assets/img/sam/tropical-island.jpg" alt="tropical island">
                <p>Fifth Piece - Poking Tongue</p>
                <img src="../assets/img/sam/poking-tongue.jpg" alt="poking tongue">
                <p>Sixth Piece - Fruit Basket</p>
                <img src="../assets/img/sam/fruit-basket-rs01.jpg" alt="Fruit Basket">
                <p>Seventh Piece - Village</p>
                <img src="../assets/img/sam/villiage-rs01.jpg" alt="Village">
                <p>Eighth Piece - Four Houses to Make a Village</p>
                <img src="../assets/img/sam/four-houses-to-make-a-village.jpg" alt="Four Houses to Make a Village">
            </div>
        </section>

    {{/replace}}
{{/extend}}
